<a href="https://colab.research.google.com/github/sonudk/Introduction_to_AI_and_IoT-/blob/master/imigration_dataset_week1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
!pip install xlrd

In [0]:
data = pd.read_excel('Canada.xlsx',skiprows = range(20),skip_footer = 2)

In [0]:
data.head()

In [0]:
data.tail()

When analyzing a dataset, it's always a good idea to start by getting basic information about your dataframe. We can do this by using the `info()` method.

In [0]:
data.info()

In [0]:
data.index

In [0]:
data.index.values

In [0]:
type(data.values)

In [0]:
data.columns

In [0]:
data.columns.values

In [0]:
type(data.columns)

In [0]:
type(data.index.tolist())

In [0]:
type(data.columns.tolist())

In [0]:
data.shape

Let's clean the data set to remove a few unnecessary columns. We can use *pandas* `drop()` method as follows:

In [0]:
data.drop(['Type', 'Coverage', 2013], axis =1, inplace = True)

In [0]:
data.columns

Let's rename the columns so that they make sense. We can use `rename()` method by passing in a dictionary of old and new names as follows:

In [0]:
data.rename(columns = {'AreaName':'Continent','RegName':'Region'},inplace = True)

In [0]:
data.columns

We will also add a 'Total' column that sums up the total immigrants by country over the entire period 1980 - 2013, as follows:

In [0]:
data['Total'] = data.sum(axis =1)
data1 =data

In [0]:
data.head(3)

We can check to see how many null objects we have in the dataset as follows:

In [0]:
data.isnull().sum()

In [0]:
data.describe()

---
## *pandas* Intermediate: Indexing and Selection (slicing)<a id="6"></a>

# Columns

In [0]:
data.Region # method one only if Column name does not countain spoace or special char.

In [0]:
data[['Region',1987,1999,2012]]# method2
# it is dataframe
# for consistency with string name that is Region we will change all integer years in string

In [0]:
data[['Region']]

### Select Row

There are main 3 ways to select rows:

```python
    df.loc[label]        
        #filters by the labels of the index/column
    df.iloc[index]       
        #filters by the positions of the index/column
```

In [0]:
# when index is number
data.loc[3]
data.iloc[3]
# both are same

In [0]:
# replace index by country name
data.set_index('Region',inplace = True)

In [0]:
data

In [0]:
data.iloc[3]

In [0]:
'''# to remove the index name (i.e. Region)
data.index.name = None'''

In [0]:
data.iloc[3]

In [0]:
data

In [0]:
data.iloc[26]

In [0]:
data.loc['Polynesia']

In [0]:
data.loc['Polynesia',[2012]]

In [0]:
data.loc['Polynesia',[2012,1985,1986,1987,1988,1989,1990]]

In [0]:
data.iloc[26,[3,2,5,4,6]]

Column names that are integers (such as the years) might introduce some confusion. For example, when we are referencing the year 2013, one might confuse that when the 2013th positional index. 

To avoid this ambuigity, let's convert the column names into strings: '1980' to '2013'.

In [0]:
list(map(str,data.columns))

In [0]:
years = list(map(str,range(1985,2012)))# we use map function for mapping linearly one to one functoin

In [0]:
print(years)

### Filtering based on a criteria
To filter the dataframe based on a condition, we simply pass the condition as a boolean vector. 

For example, Let's filter the dataframe to show the data on Asian countries (AreaName = Asia).

In [0]:
condition = data['Continent']=='Asia'
print(condition)

In [0]:
data[condition]

In [0]:
data1

In [0]:
# we can pass mutliple criteria in the same line. 
# let's filter for AreaNAme = Asia and RegName = Southern Asia
# the below line is just for understanding
### df_can[(df_can['Continent']=='Asia') & (df_can['Region']=='Southern Asia')]

# note: When using 'and' and 'or' operators, pandas requires we use '&' and '|' instead of 'and' and 'or'
# don't forget to enclose the two conditions in parentheses

## Matplotlib: Standard Python Visualization Library<a id="10"></a>

The primary plotting library we will explore in the course is [Matplotlib](http://matplotlib.org/).  As mentioned on their website: 
>Matplotlib is a Python 2D plotting library which produces publication quality figures in a variety of hardcopy formats and interactive environments across platforms. Matplotlib can be used in Python scripts, the Python and IPython shell, the jupyter notebook, web application servers, and four graphical user interface toolkits.

If you are aspiring to create impactful visualization with python, Matplotlib is an essential tool to have at your disposal.

In [0]:
# apply a style to matplotlib >>optional
print(plt.style.available)

In [0]:
plt.style.use(['ggplot']) # here we use ggplot as styles for our plots (ostly used)

In [0]:
india = data.loc['Southern Asia',years]
india.plot()