<a href="https://colab.research.google.com/github/sonudk/Introduction_to_AI_and_IoT-/blob/master/PythonBasics1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python
* Numbers
* Strings
* Lists
* Dictionaries
* Conditionals (if-else)
* Loops

# Integers and Floats (decimal numbers)

In [0]:
a = 10
b = 6
print(a+b, a-b, a*b, a/b)

16 4 60 1.6666666666666667

In [0]:
a = 10.1
b = 6.4
print(a+b, a-b, a*b, a/b)

16.5 3.6999999999999993 64.64 1.5781249999999998

In [0]:
a = 2.4
print(type(a))

<class 'float'>

# Strings

In [0]:
a = "Banana"
b = "Shake"
c = a+b
print(c)

BananaShake

In [0]:
c = a+" "+b
print(c) # Let us add a space bar too

Banana Shake

In [0]:
print(c[-1])    # Indexing

e

In [0]:
print(c[2:8])   # Substring

nana S

In [0]:
print(len(c))   # Length

12

# Lists
Let us create a shopping list:
1. Milk
2. Banana
3. Carrots

In [0]:
a = ["Milk", "Banana", "Carrot"]
print(a)
print(len(a))

['Milk', 'Banana', 'Carrot']
3

**Indexing**: What is the 3rd item?

In [0]:
print(a[2])

Carrot

**Slicing**: Extract a sub-list

In [0]:
print(a[1:3])

['Banana', 'Carrot']

**Modification** - Change "Carrot" to "Tomato"

In [0]:
a[2] = "Tomato" 
print(a)

['Milk', 'Banana', 'Tomato']

**Concatenation:** Your mother gave a list of rice, sugar and salt. Add it to your list.

In [0]:
b = ["Rice", "Sugar", "Salt"]
c = a+b
print(c)

['Milk', 'Banana', 'Tomato', 'Rice', 'Sugar', 'Salt']

**Append:** Add another item - Apple

In [0]:
d = c + ["Apple"]
print(d)

['Milk', 'Banana', 'Tomato', 'Rice', 'Sugar', 'Salt', 'Apple']

The same is possible with numbers too.
A list can hold any data types.

In [0]:
a = [1, 2, 3, "Apple"]
b = [2.4, 4, "Banana", 9]
print(a+b)             # Concatenation
print(a[2])           # Indexing
a[2] = 5             # Modifying
print(a)

[1, 2, 3, 'Apple', 2.4, 4, 'Banana', 9]
3
[1, 2, 5, 'Apple']

# Dictionaries
How to add quantities to your list:
1. Milk: 1 litre
2. Banana: 12
3. Carrot: 5

In [0]:
a = {"Milk":"1 litre", "Banana":12, "Carrot":5} # key-value pair
print(a)
print(len(a))

{'Milk': '1 litre', 'Banana': 12, 'Carrot': 5}
3

**Indexing:** What is the quantity of Carrot?

In [0]:
print(a["Carrot"]) # print(a[2]) will be an error

5

**Modification:** Please change this quantity to 8

In [0]:
a["Carrot"] = 8
print(a)

{'Milk': '1 litre', 'Banana': 12, 'Carrot': 8}

**Append:** Add 1kg apples

In [0]:
a["Apple"] = "1kg"
print(a)

{'Milk': '1 litre', 'Banana': 12, 'Carrot': 8, 'Apple': '1kg'}

In [0]:
print(a.keys())
print(a.values())

dict_keys(['Milk', 'Banana', 'Carrot', 'Apple'])
dict_values(['1 litre', 12, 8, '1kg'])

# Conditionals
if, elif, else

In [0]:
i = 4
if i<0:
    print("Negative")
elif i>0:
    print("Positive")
else:
    print("Zero")

Positive

In the shopping list, add 5 bananas

In [0]:
a = {"Milk":"1 litre", "Banana":12, "Carrot":5} 
# What if the bananas weren't there

if "Banana" in a:
    a["Banana"] = a["Banana"] + 5
else:
    a["Banana"] = 5
print(a)

{'Milk': '1 litre', 'Banana': 17, 'Carrot': 5}

# Loops
## For loop

In [0]:
for i in range(5):
    print(i)

0
1
2
3
4

Print all the items in the list along with their quantities

In [0]:
for key in a:
    print(key, "-", a[key])

Milk - 1 litre
Banana - 17
Carrot - 5

## While loop

In [0]:
# List all integers starting from 0, such that the sum of 
# their squares is less than 20
i = 0
sumOfSquares = 0
while sumOfSquares<20:
    print(i)
    i = i+1
    sumOfSquares = sumOfSquares + i*i

0
1
2
3