<a href="https://colab.research.google.com/github/sonudk/Introduction_to_AI_and_IoT-/blob/master/PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Yesterday we covered
- values
- variables
- lists
- arithmetic operations - +, -  etc
- logical operations
- conditionals - if/else/elif
- loops - while/for

In [2]:
x = input()# how to use input function
print('The input is ', x)

445
The input is  445

In [3]:
type(x)

str

In [4]:
number_1 = input('Please enter number 1')
number_2 = input('Please enter number 2')
print('Sum of the numbers is ', int(number_1) + int(number_2))

Please enter number 1566
Please enter number 2655
Sum of the numbers is  1221

### Basic calculator

In [5]:
# n_1, operator, n_2 -> it evaluates the expression
# n_1 =1 , operator = *, n_2 = 2 -> 1*2 -> 2
n_1 = int(input('input number 1'))
op = input('input the operator')
n_2 = int(input('input number 2'))

if(op == '+'):
    result = n_1 + n_2
elif(op == '-'):
    result = n_1 - n_2
    

print('evaluated result is ', result)

input number 1555
input the operator-
input number 2656535
evaluated result is  -655980

### Useful list functions

In [6]:
l = [1, 2, 3, 4, 5]
len(l)

5

In [7]:
l.append(6) ## Do not use l = l.append(6), value of l becomes None
print(l)

[1, 2, 3, 4, 5, 6]

In [8]:
l.index(6) # Returns index of first occurence of argument if present, error otherwise

5

In [9]:
list1 = [[21,223,23,2,3,23,2,3],[23,23,23,3,'233'],[3],[],[2,3,2,3,2,3,3,23,2,3,2,2,3,3,2332]]
length=[]
for i in list1:
  length.append(len(i))
print(length)

[8, 5, 1, 0, 15]

In [0]:
#list_ = [[1,2 ,3], [4], [5, 6, 7]]
#lengths = [3, 1, 3]

In [0]:
list_ = [[1,2 ,3], [4], [5, 6, 7]]
lengths = []
for i in list_:
    lengths = lengths + [len(i)]

print(lengths)

[3, 1, 3]

In [0]:
# Assignment question
list_ = [[1], [1, 2], [3], [4]]
for i in list_:
    while(len(i)<3):
        i.append(0)
print(list_)

[[1, 0, 0], [1, 2, 0], [3, 0, 0], [4, 0, 0]]

In [0]:
# Tuple - non modifialbe list
# LIsts can be modified like so
l1 = [1, 2, 3]
l1[2]= 4
print(l1)

[1, 2, 4]

In [0]:
t1 = (1, 2, 3)
(1, 2, 3) + (4, ) # append to tuple and defining tuple with single element

(1, 2, 3, 4)

In [0]:
l = [1, 2, 3, 4]
l[2]

3

### Slicing operation

In [0]:
l = list(range(10))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [0]:
l[0:6] ## slices the list from index 0 to 6-1

[0, 1, 2, 3, 4, 5]

In [0]:
l[:6] # first index if 0 may be omitted

[0, 1, 2, 3, 4, 5]

In [0]:
l[5:10]

[5, 6, 7, 8, 9]

In [0]:
l[5:] # if right index is last index of list, it may be omitted

[5, 6, 7, 8, 9]

In [0]:
## negative indices
l[0], l[1], l[2]

(0, 1, 2)

In [0]:
l[-1], l[-2], l[-3] 
l[len(l) -1], l[len(l - 2)] # and so on

(9, 8, 7)

In [0]:
l[0:-2]

[0, 1, 2, 3, 4, 5, 6, 7]

In [0]:
list_ = [[1, 2, 3], [40, 50], [100, 101, 102, 103]]
## last2s = [[2, 3], [40, 50], [102, 103]]
last2s = []
for i in list_:
    last2_in_i = i[-2:]
    last2s = last2s + [last2_in_i]
print(last2s)

[[2, 3], [40, 50], [102, 103]]

In [0]:
l
# without proper ssqquare brackets
list_s = l[0:3] + [l[3:5]] + [l[5:9]]+[[l[-1]]]

In [11]:
list_s

[1, 2, 3, [4, 5], [6], [6]]

In [0]:
l
# with proper ssqquare brackets
list_s1 = [l[0:3]] + [l[3:5]] + [l[5:9]]+[[l[-1]]]

In [15]:
print(list_s1)

[[1, 2, 3], [4, 5], [6], [6]]

In [16]:
l = list(range(20, 30))# FOR IN BETWEEN RANGE
print(l)

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [0]:
l[2:8]  #22 to 27; left index is the first index to include, 
        #the right index is the first index to exclude
l[0:len(l):2] # ##$$$$$$$@@@@@@@####  >>> start, end + 1, step size

[20, 22, 24, 26, 28]

In [0]:
l[::-1] # to reverse a list

[29, 28, 27, 26, 25, 24, 23, 22, 21, 20]

In [18]:
L=[2,23,23,23,2,12,56,75,5,7857,5677,57,5675,57]
print(L[: : -2])# here -2 is step size from bsck side basically it is the difference in 2  consequetive elements

[57, 57, 7857, 75, 12, 23, 23]

In [21]:
'''count=0
for i in L[-(i+1)]:
  count = count + 1 ## how to cpunt number of elements in list'''

'count=0\nfor i in L[-(i+1)]:\n  count = count + 1 ## how to cpunt number of elements in list'

### Dictionaries

In [23]:
# for lists [], for tuples (), for dictionaries {}
d = {} # empty dictionary

## Key value pairs for days of the week
d['M'] = 'Monday'
d['T'] = 'Tuesday'
d['W'] = 'Wednesday'
d['Th'] = 'Thursday'

print(d['M'])
print(d['Th'])
print(d)

Monday
Thursday
{'M': 'Monday', 'T': 'Tuesday', 'W': 'Wednesday', 'Th': 'Thursday'}

In [0]:
## months dictionary
months = {1:'January', 2:'February', 3:'March', 12:'December'}
print(months)

{1: 'January', 2: 'February', 3: 'March', 12: 'December'}

In [0]:
from sklearn.datasets import load_iris
import sklearn

In [0]:
iris = load_iris()
type(iris)

sklearn.utils.Bunch

In [0]:
sklearn.utils.Bunch.__bases__

(dict,)

### Functions available on dictionaries

In [0]:
iris.keys() # gives list of keys
iris.values() # gives list of values

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [0]:
for k in d.keys():
    print('key: ', k, 'value: ', d[k])

key:  M value:  Monday
key:  T value:  Tuesday
key:  W value:  Wednesday
key:  Th value:  Thursday

In [0]:
print(d.get('M', 'Key does not exist'))

Monday

### Functions

In [0]:
def add(x, y=1, z=2, m=3, n=4): ## if x, y are given -> add and return the sum, otherwise add 1 and return the sum
    sum = 0
    sum = x + y
    return sum

In [0]:
add(10, n = 11, m = 5)

11

In [26]:
d = {1: 10, 2: 10, 3:20, 5:55, 6:55, 7:89}
# unique_values = [10, 20, 55, 89]

def uni(d):
  uni = []
  for i in d.keys():
    if d[i] in uni:
      pass
    else:
      uni.append(d[i])
  return uni    
print(uni)
uni({1: 10, 2: 10, 3:20, 5:55, 6:55, 7:89})
def unique_values(d):
    uv = []
    for v in d.values():
        if(v in uv):
            pass
        else:
            uv.append(v)
    return uv
print(unique_values(d))

<function uni at 0x7f196dcc60d0>

In [0]:
d.values()

dict_values([10, 10, 20, 55, 55, 89])

In [0]:
### list_ = [1, 2, 3 ,4], value = 5
## check_if_present(list_, value) -> True, False

In [0]:
def check_if_present(list_, value):
    
    for i in list_:
        if(i==value):
            return True
    return False

In [0]:
check_if_present([1, 2, 3, 4], 2)

True