<a href="https://colab.research.google.com/github/sonudk/Introduction_to_AI_and_IoT-/blob/master/week2_data_visualization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [0]:
data = pd.read_excel('Germany.xlsx',skiprows = range(20))

In [7]:
data.describe()

                1998           2000  ...           2008  2013
count      56.000000      56.000000  ...      56.000000   0.0
mean    50920.696429   49390.142857  ...   48913.392857   NaN
std     92547.836018   90806.738718  ...  100595.180727   NaN
min        31.000000      21.000000  ...      19.000000   NaN
25%      3746.750000    3489.000000  ...    4037.750000   NaN
50%     12929.000000   13212.000000  ...   13645.000000   NaN
75%     59698.000000   55107.250000  ...   36454.250000   NaN
max    460850.000000  482213.000000  ...  504432.000000   NaN

[8 rows x 9 columns]

In [0]:
data.shape

In [0]:
data

In [0]:
data.index

In [0]:
data.columns

In [0]:
data.drop(['Type','Coverage',2013],axis =1,inplace= True)

In [0]:
data.shape

In [0]:
years = list(map(str,range(1980,2013)))

In [0]:
years

In [0]:
'''India = data['Southern Asia',years]
India.plot()'''

In [0]:
data.columns

In [0]:
data.rename(columns={'AreaName':'Continent','RegName':'Region'},inplace = True)

In [0]:
data.columns

In [0]:
data.columns = list(map(str,data.columns))

In [0]:
data1 = data.set_index('Region')

In [0]:
data1

In [0]:
data['Total'] = data.sum(axis =1)

In [0]:
data['Total']

In [0]:
data.shape

In [0]:
#Area Plot
ax =data.loc['Polynesia',years]
ax.plot()